* {
  font-family: "Times New Roman";
  font-size: 12pt;
  line-height: 12pt;
}

.container {
  margin: auto;
  text-align: center;
  width: 800px;
}

.container > * {
  text-align: left;
}

@media screen {
  .page {
    border: 1px solid black;
    border-bottom-style: dashed;
    margin: 12pt;
    padding: 12pt 12pt 24pt 12pt;
  }
}

.page {
  display: block;
  page-break-before: always;
  text-align: left;
}

.page:first-of-type {
  page-break-before: avoid;
}

.block {
  margin-bottom: 24pt;
  margin-top: 36pt;
  position: relative;
}

.blank, .line {
  display: block;
  margin-left: 50%;
  width: 50%;
}

.final {
  margin-top: 36pt;
}

.simple {
  border-top: 1px solid black;
}

.label {
  display: block;
}

.spacer {
  width: 100%;
  display: block;
  float: right;
  border-bottom: 1px solid black;
}

.dateLine {
  border-top: 1px solid black;
  display: block;
  left: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 40%;
}

#ribbon {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.container > footer {
  padding: 12pt;
  text-align: right;
}

@media print {
  button, #ribbon, footer, form {
    display: none;
  }
}
