* {
  font-family: "Times New Roman";
  line-height: 12pt;
  font-size: 12pt;
}

.container {
  width: 800px;
  margin: auto;
  text-align: center;
}

.container > * {
  text-align: left;
}

@media screen {
  .page {
    border: 1px solid black;
    border-bottom-style: dashed;
    margin: 12pt;
    padding: 12pt 12pt 24pt 12pt;
  }
}

.page {
  display: block;
  text-align: left;
  page-break-before: always;
}

.page:first-of-type {
  page-break-before: avoid;
}

.block {
  width: 50%;
  margin-top: 36pt;
  margin-left: 50%;
}

.simpleLine {
  border-top: 1px solid black;
}

#ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

.container > footer {
  padding: 12pt;
  text-align: right;
}

@media print {
  #ribbon, footer, form {
    display: none;
  }
}
